@page "/Magic/delete/{MagicId:int}"
@using HighFantasyStore.Shared.Models.Magics
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation
<h3>#@MagicId</h3>
@if(message != null)
{
	<h2 class="text-danger">@message</h2>
}
@if (Magic != null)
{

}
else
{
	<p>Loading...</p>
}
@code {
	[Parameter]
	public int MagicId { get; set; }
	public MagicListItem Magic {get; set;}
	public string message { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Magic = await http.GetFromJsonAsync<MagicListItem>($"/api/Magic/{MagicId}");
	}
	private async void HandleClick()
	{
		var deleteRes = await http.DeleteAsync($"/api/Magic/{MagicId}");
		if(deleteRes.IsSuccessStatusCode)
		{
			navigation.NavigateTo("/Magic");
		}
		else
		{
			message = "Failed to erase your Magic.";
		}
	}
}
