@page "/Magic/{MagicId:int}"
@using HighFantasyStore.Shared.Models.Magics
@attribute [Authorize]
@inject HttpClient http

<h3>#@Magic.Id</h3>
<td>
	<a href=@($"Magic/{Magic.Id}")>Details</a>
	<a href=@($"Magic/edit/{Magic.Id}")>Edit</a>
	<a href=@($"Magic/delete/{Magic.Id}")>Delete</a>
</td>
@if (Magic != null)
{
	<div class="container">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<span>Magic #@Magic.Id</span>
			</div>
			
			<div class="card-footer text-muted d-flex justify-content-between">
				<span class="text-left">@Magic.Description</span>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<div class="text-center justify-content-between w-25">
				<a href=@($"/Magic/edit/{Id}") class="btn btn-outline-primary">Edit</a>
				<a href=@($"/Magic/delete/{Id}") class="btn btn-outline-danger">Delete</a>
				<hr />
				<a href="/note">Back to Magic Index</a>
			</div>
		</div>
	</div>
}
@code {
	[Parameter]
	public int Id { get; set; }
	public MagicListItem Magic { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Magic = await http.GetFromJsonAsync<MagicListItem>($"api/Magic/{Id}");
	}

}
