@page "/Magic/Create"
@using HighFantasyStore.Shared.Models.Magics
@attribute [Authorize]
@inject HttpClient http
@using HighFantasyStore.Shared.Models.Magics
@inject NavigationManager navigation
<h3>Create</h3>
@if(errorMessage != null)
{
	<h5 class="text-danger">@errorMessage</h5>
}
<div>
	<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
		<DataAnnotationsValidator/>
		<ValidationSummary/>
	</EditForm>
</div>
<div class="form-group">
	<label>Name</label>
	<InputText class="form-control" @bind-Value="model.Description"/>
</div>

<button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
@code {
	private MagicEdit model = new();
	private IEnumerable<MagicListItem> magics;
	private string errorMessage;
	protected override async Task OnInitializedAsync()
	{
		magics = await http.GetFromJsonAsync<IEnumerable<MagicListItem>>("/api/magic/");
	}
	private async void HandleSubmit()
	{
		var createRes = await http.PostAsJsonAsync<MagicEdit>("/api/Magic/", model);
		if (createRes.IsSuccessStatusCode)
		{
			navigation.NavigateTo("/Magic");
		}
		else
		{
			errorMessage = "Could not alter your Magic, try again when the lab is open.";
		}
	}
	}
