@page "/Magic/Index"
@using HighFantasyStore.Shared.Models.Magics
@inject HttpClient Http
@attribute [Authorize]
<h3>Magic</h3>
<a href="/magic/create">Make a Magic Effect</a>
@if (Magics == null)
{
	<p><em>Loading...</em></p>
}
else
{

}
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (MagicListItem magic in Magics)
		{
			<tr>
				<td>@magic.Id</td>
				<td>@magic.Description</td>
			</tr>
		}
	</tbody>
</table>

@code {
    private List<MagicListItem> Magics;
    protected override async Task OnInitializedAsync() => Magics = await Http.GetFromJasonAsync<List<MagicListItem>>("Magic");

}