@page "/Magic/Index"
@using HighFantasyStore.Shared.Models.Magics
@inject HttpClient http
@attribute [Authorize]
<h3>Magic</h3>
<a href="/magic/create">Make a Magic Effect</a>
@if (_Magics == null)
{
	<p><em>Loading...</em></p>
}
else
{

}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (MagicListItem magic in _Magics)
		{
			<tr>
				<td>@magic.Id</td>
				<td>@magic.Description</td>
			</tr>
		}
	</tbody>
</table>

@code {
	private IEnumerable<MagicListItem> _Magics;
	protected override async Task OnInitializedAsync()
	{
		_Magics = await http.GetFromJsonAsync<List<MagicListItem>>("/api/Magic");
	}


}