@page "/Armor/edit/{ArmorId:int}"
@using HighFantasyStore.Shared.Models.Armors
@attribute [Authorize]
@inject HttpClient http
@using HighFantasyStore.Shared.Models.Magics
@inject NavigationManager navigation
<h3>Edit Armor : @model.Name</h3>
@if(errorMessage != null)
{
	<h5 class="text-danger">@errorMessage</h5>
}
<div>
	<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
		<DataAnnotationsValidator/>
		<ValidationSummary/>
	</EditForm>
</div>
<div class="form-group">
	<label>Name</label>
	<InputText class="form-control" @bind-Value="model.Name"/>
</div>

<button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
@code {
	[Parameter]
	public int ArmorId { get; set; }
	private ArmorEdit model{ get; set; }
	private IEnumerable<MagicListItem> magics;
	private string errorMessage;
	protected override async Task OnInitializedAsync()
	{
		magics = await http.GetFromJsonAsync<IEnumerable<MagicListItem>>("/api/magic/");
		model = await http.GetFromJsonAsync<ArmorEdit>($"/api/Armor/{ArmorId}");
	}
	private async void HandleSubmit()
	{
		var createRes = await http.PostAsJsonAsync<ArmorEdit>("/api/Armor/edit/{ArmorId}", model);
		if (createRes.IsSuccessStatusCode)
		{
			navigation.NavigateTo("/Armor/{ArmorId}");
		}
		else
		{
			errorMessage = "Could not reforge your armor, try again when the forge is relit.";
		}
	}
	}
