@page "/profile/delete/{profileId:int}"
@using HighFantasyStore.Shared.Models.Profiles
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation
<h3>#@profileId</h3>
@if(message != null)
{
	<h2 class="text-danger">@message</h2>
}
@if (profile != null)
{

}
else
{
	<p>Loading...</p>
}
@code {
	[Parameter]
	public int profileId { get; set; }
	public ProfileListItem profile {get; set;}
	public string message { get; set; }

	protected override async Task OnInitializedAsync()
	{
		profile = await http.GetFromJsonAsync<ProfileListItem>($"/api/profile/{profileId}");
	}
	private async void HandleClick()
	{
		var deleteRes = await http.DeleteAsync($"/api/profile/{profileId}");
		if(deleteRes.IsSuccessStatusCode)
		{
			navigation.NavigateTo("/profile");
		}
		else
		{
			message = "Failed to scrap your profile.";
		}
	}
}
