@page "/Profile/{ProfileId:int}"
@using HighFantasyStore.Shared.Models.Profiles
@attribute [Authorize]
@inject HttpClient http

<h3>#@Profile.Id</h3>
<td>
	<a href=@($"Profile/{Profile.Id}")>Details</a>
	<a href=@($"Profile/edit/{Profile.Id}")>Edit</a>
	<a href=@($"Profile/delete/{Profile.Id}")>Delete</a>
</td>
@if (Profile != null)
{
	<div class="container">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<span>Profile #@Profile.Id</span>
				<span class="text-muted"><strong>@Profile.ownerId</strong></span>
			</div>
			<div class="card-body">
				<h4 class="card-title">@Profile.gold</h4>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<div class="text-center justify-content-between w-25">
				<a href=@($"/Profile/edit/{Id}") class="btn btn-outline-primary">Edit</a>
				<a href=@($"/Profile/delete/{Id}") class="btn btn-outline-danger">Delete</a>
				<hr />
				<a href="/note">Back to Profile Index</a>
			</div>
		</div>
	</div>
}
@code {
    [Parameter]
    public int Id { get; set; }
    public ProfileListItem Profile { get; set; }

    protected override async Task OnInitializedAsync() => Profile = await http.GetFromJsonAsync<ProfileListItem>($"api/Profile/{Id}");


}
