@page "/Profile/Edit"
@using HighFantasyStore.Shared.Models.Profiles
@attribute [Authorize]
@inject HttpClient http
@using HighFantasyStore.Shared.Models.Magics
@using HighFantasyStore.Shared.Models.profiles
@inject NavigationManager navigation
<h3>Create</h3>
@if(errorMessage != null)
{
	<h5 class="text-danger">@errorMessage</h5>
}
<div>
	<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
		<DataAnnotationsValidator/>
		<ValidationSummary/>
	</EditForm>
</div>
<div class="form-group">
	<label>Name</label>
	<InputText class="form-control" @bind-Value="model.Name"/>
</div>


<button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
@code {
	private ProfileEdit model = new();
	private IEnumerable<MagicListItem> magics;
	private string errorMessage;
	protected override async Task OnInitializedAsync()
	{
		magics = await http.GetFromJsonAsync<IEnumerable<MagicListItem>>("/api/magic/");
	}
	private async void HandleSubmit()
	{
		var createRes = await http.PostAsJsonAsync<ProfileEdit>("/api/Profile/", model);
		if (createRes.IsSuccessStatusCode)
		{
			navigation.NavigateTo("/Profile");
		}
		else
		{
			errorMessage = "Could not forge your Profile, try again when the forge is relit.";
		}
	}
	}
